<p style="color: green"><%= notice %></p>

<%= render @beer %>
<p>
	Brewed by <%= link_to @beer.company.name, company_path(@beer.company) %>.
</p>
<div>
  <%= link_to "Edit this beer", edit_beer_path(@beer) %> |
  <%= link_to "Back to beers", beers_path %>

  <%= button_to "Destroy this beer", @beer, method: :delete %>
</div>
